html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1b1b1b;
}
html::-webkit-scrollbar{
    width:0px;
}
.profile_section{
    width: auto;
    height: 300px;
    background-image: linear-gradient(to top, #2a2929, #403e3e, #4c4b4b );
    
}
.profile{
    width: 250px;
    height: 250px;
    margin-right: 0;
    position: relative;
    top: 21px;
    left: 45px;
    border-radius: 50%;
    background: linear-gradient(45deg, #262323, #2d2a2a);
    box-shadow: inset 12px -12px 24px #252424,
             -12px 12px 24px #2a2929;
}
.material-icons{
    color: aliceblue;
}
.photo{
    width: 60px;
    height: 180px;
    position: relative;
    top: 87px;
    left: 94px;
    color: #777777;
}
p{
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,helvetica,arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
    color: #e9e9e9;
    font-size: 12px;
    font-weight:800;
    position: relative;
    top: -83px;
    left: 187px;
}
h1{
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,helvetica,arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
    color: #fff;
    font-size: 72px;
    font-weight:800;
    position: relative;
    top: -130px;
    left: 186px;
}
.hel{
    color: #c0c0c0;
    width: 200px;
    position: relative;
    top: -152px;
    left: 186px;
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,helvetica,arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #28ca61;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,helvetica,arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
    color: #e9e9e9;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
.ham{
    color: #e9e9e9;
    position: absolute;
    top: 20px;
    right: 30px;
}
.spotify-logo--text{
    color: #000000;
    width: 192px;
    height: 38px;
    position: relative;
    top: -48px;
    left: -34px;
}
.home{
    color: #fff;
    width: 192px;
    height: 38px;
    position: relative;
    top: 40px;
    left: 80px;
}
.links{
    display: block;
    position: relative;
    top: -31px;
    left: 5px;
}
.Svg-sc-1bi12j5-0 hDgDGI{
    color: #c0c0c0;
    background-color: #000000;
}
.Svg-sc-1bi12j5-0 hDgDGII{
    color: #000000;
}
.IKKDTlAtw1htuVSuLpLt {
    align-items: center;
    background: #fff;
    border-radius: 1px;
    color: #000;
    display: flex;
    height: 20px;
    justify-content: center;
    position: absolute;
    width: 20px;
}
.FMNZJaO_Zs9C_4inzm52 {
    border-radius: 1px;
    height: 20px;
    justify-content: center;
    position: absolute;
    left: 34px;
    width: 20px;
}
.links2{
    position: relative;
    top: 30px;
}
.top{
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,helvetica,arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
    color: #f6f6f6;
    font-size: 24px;
    width: 300px;
    font-weight:700;
    margin-bottom: 0;
    position: relative;
    top: 18px;
    left: 58px;
}
.top_p{
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,helvetica,arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
    color: #a4a4a4;
    margin: 0;
    font-size: 14px;
    font-weight:400;
    position: relative;
    top: 20px;
    left: 58px;
    width: 300px;
}
.weekend,.lil_nas,.travis,.eminem,.miley,.beyonce,.posty,.serhut,.drake,.x,.billie,.bazzi{
    width: 180px;
    height: 270px;
    border-radius: 20px;
    background-color: #181818;
    box-shadow:  -12px 12px 24px #111010, 12px -12px 24px #1e1d1d;
    margin: 0;
    transition: all 0.2s ease;
}
.eminem:hover,.weekend:hover,.travis:hover,.lil_nas:hover,.miley:hover,.beyonce:hover,.posty:hover,.serhut:hover,.drake:hover,.x:hover,.billie:hover,.bazzi:hover{
    cursor: pointer;
    background-color: #272a29;
}
.photo_de_art img {
    width: 143px;
    height: 143px;
    object-fit:cover;
    border-radius: 72px;
    position: relative;
    top: 22px;
    left: 18px;
}
.art_name h1 {
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,helvetica,arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    position: relative;
    top: -26px;
    left: 13px;
}
.art_name p {
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,helvetica,arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
    color: #e9e9e9;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    top: -38px;
    left: 19px;
}
.play {
    background-color: #28ca61;
    width: 56px;
    height: 56px;
    border-radius: 51px;
    margin: auto;
    z-index: 99;
    position: relative;
    top: -23px;
    left: 46px;
}
.but {
    position: relative;
    top: 5px;
    left: 11px;
    width: 37px;
    height: 49px;
}
.artists{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: relative;
    top: 35px;
    gap: 30px;
}
.artisto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: relative;
    top: 88px;
    gap: 30px;
}
.favor {
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,helvetica,arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    position: relative;
    top: 81px;
    left: 0;
    padding-left: 45px;
    width: auto;
}
.lil_nas_link{
    text-decoration: none;
}
.back_photo{
    background-image: url(https://i.scdn.co/image/ab67618600001016a7c4a5758893ae68ab861f20);
    background-size: contain;
    background-repeat:no-repeat;
    background-position:center;
    width: auto;
    height: 100vh;
}
.verify_tag{
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,helvetica,arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
    color: #fefefe;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16px;
    text-transform: none;
    vertical-align:super;
}
.name_{
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,helvetica,arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
    color: #fff;
    font-size: 72px;
    font-weight:800;
    margin: 0;
}
.listners_number{
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,helvetica,arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
    color: #fefefe;
}
